<div class="loading-animation">
<section class="resume">
    <div class="resume-info">
        <p class="second-label">
            <span class="label-emoji">
                &#x1F64B;
            </span>    
            &nbsp; I've worked for
        </p>
    </div>
    <ul>

        {% include project-list.html %}

    </ul>
</section>


<section class="skill">
    <div class="resume-info">
        <p class="second-label">
            <span class="label-emoji">
                &#x1f3a8;
            </span>
            &nbsp; Interests
        </p>
    </div>    
    <ul>
        {% for skill-role in site.data.skill-roles %}
            <li class="skill_name">
                {{ skill-role.name }}
            </li>
        {% endfor %}
    </ul>
</section>

<section class="resume">
    <div class="resume-info">
        <p class="second-label">
            <span class="label-emoji">
                &#x270d;
            </span>
            &nbsp; About images on my blog
        </p>
        <blockquote>
        All images without references are my own images created using balsamiq and the cartoons are from wizard zines.
        </blockquote>
    </div>    
</section>
</div>    