{% if page.series %}
<div class="panel seriesNote">
  {% assign count = '0' %}
  {% assign idx = '0' %}
  {% for post in site.pages reversed %}
      {% if post.series == page.series %}
          {% capture count %}{{ count | plus: '1' }}{% endcapture %}
          {% if post.url == page.url %}
              {% capture idx %}{{count}}{% endcapture %}
          {% endif %}
      {% endif %}
  {% endfor %}
  <div class="post-type">
    <!-- This article is <strong>Part {{ idx }}</strong> in a <strong>{{ count }}-Part</strong> Series. -->
    {{page.series}}
  </div>
  <ul>
  {% assign count = '0' %}
  {% for post in site.pages %}
  {% if post.series == page.series %}
      {% capture count %}{{ count | plus: '1' }}{% endcapture %}
      <li>{{ count }}.
      {% if page.url == post.url %}
          <strong><a href="{{post.url}}"> {{post.title}} </a></strong>&#x2705;
      {% else %}
          <a href="{{post.url}}">{{post.title}}</a>
      {% endif %}
      </li>
  {% endif %}
  {% endfor %}
  </ul>
</div>
{% endif %}